[Unit]
Description=CRPC sweep_to_tiles.py
After=crpc-sweep.service
PartOf=crpc.target

[Service]
Type=simple
User=raffaello
ExecStart=/usr/bin/python3 /home/raffaello/crpc/iq_to_tiles_cmap_arg.py --fs 10e6 --fs-view 1.2e6 --nfft 65536 --hop-div 1 --mode EWMA --alpha 0.12 --norm bgsub --bg-alpha 0.015 --fast-settle-cols 120 --fast-settle-alpha 0.20 --delta-floor -8 --delta-ceil 10 --gamma 1.35 --cmap orange_red --dc-notch
 
Restart=always
RestartSec=2

[Install]
WantedBy=crpc.target
