[Unit]
Description=CRPC sweep_to_tiles.py
After=crpc-sweep.service
PartOf=crpc.target

[Service]
Type=simple
User=raffaello
ExecStart=/usr/bin/python3 /home/raffaello/crpc/iq_to_tiles_cmap_arg.py --cmap orange_red
Restart=always
RestartSec=2

[Install]
WantedBy=crpc.target
